<div id = "list-color">
<div class="head">
  <div class="navbar-fixed-top">
  <%= render 'shared/navbar_two' %>
  </div>
</div>



 <div class="banner" style= "background-image: url('<%= cl_image_path 'figures.png' %>');">
    <div class = "search">
    <%= form_tag mentors_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search mentors"
      %>
    <% end %>
    </div>

</div>

<h3><%= @result %></h3>

<div class="container">
  <div class="col-xs-12">
      <% @mentors.each do |mentor| %>
      <a href= <%= mentor_path(mentor)%> >

        <div class="card"  id= "cardy">

          <div class="row">


            <div class="col-xs-3">
              <div class="card-left">
                <div class = "img">
                  <% if mentor.photo.present? == true %>
                  <%= cl_image_tag mentor.photo, height: 120, width: 120, crop: :fill %>
                  <% else %>
                  <%= cl_image_tag("non_existing_id.jpg",
                  :width => 120, :height => 120,
                  :crop => :fill) %>
                <% end %>

                  </div>
                </div>
              </div>

            <div class="col-xs-6">
              <div class="card-center">
                <h3 class="title"><%= mentor.first_name.upcase %> <%= mentor.last_name %></h3>
                <h3 class="uni-maj"> <%= mentor.university %> / <%= mentor.major %> <%= mentor.degree_level %> </h3>
                <p id = "description"> <%= mentor.description.first(80)%> ...</p>
              </div>
            </div>

            <div class="col-xs-3">
              <div class="card-right">
                <%= link_to "View profile", mentor_path(mentor), class: "btn-treehouse" %>
              </div>
            </div>
            </a>

          </div>

        </div>
      <% end %>
  </div>

</div>
</div>

