<%= render 'shared/navbar_two' %>

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
</head>


<div class="banner-three" style= "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path 'figure_1.png' %>');" id= "one">
  <div class="containter">
    <div class="profile-card">


     <div class="mid-container">
      <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="profile-left">

            <% if @mentor.photo.present? == true %>
            <%= cl_image_tag @mentor.photo, height: 280, width: 280, crop: :fill %>
            <% else %>
            <%= cl_image_tag("non_existing_id.jpg",
              :width => 280, :height => 280,
              :crop => :fill) %>
              <% end %>

              <button type="button" class="button-chat btn-treehouse-one" id="startChat" data-toggle="modal" data-target="#chatModal" data-backdrop="static" data-keyboard="false"><i class="fas fa-comments"></i> &nbsp; Chat with <%= @mentor.first_name %> </button>

              <button type="button" class="button-chat btn-treehouse-two" id="startVideo" data-toggle="modal" data-target="#videoModal" data-backdrop="static" data-keyboard="false"><i class="fas fa-video"></i> &nbsp; Video chat with <%= @mentor.first_name %> </button>

              <h3 id="go-back"> <%= link_to "Back to mentors", mentors_path %> </h3>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="profile-right">
              <h1><span id = "name-title">  <%= @mentor.first_name %>  <%= @mentor.last_name.upcase %> <p>(<%= @mentor.nationality %>)</p></span></h1>

              <% count = 0 %>
              <% 5.times do %>
              <% if @mentor.average_review > count %>
              <% if (@mentor.average_review - count) <= 0.9 %>
              <ion-icon  name="star-half" style = "color: #F57170" ></ion-icon>
              <% else %>
              <ion-icon  name="star" style = "color: #F57170"></ion-icon>
              <% end %>
              <% else %>
              <ion-icon  name="star-outline" style = "color: #F57170"></ion-icon>
              <% end %>
              <% count += 1 %>
              <% end %>

              <%= @mentor.average_review %>
              (<%= @mentor.review_mentors.count %> reviews)
              <h4 id="uni"> <%= @mentor.university %></h4>




              <h3 id="major"> <strong>Major: </strong><%= @mentor.major %></h3>
              <h3 id="major-cat"> <strong> Category:</strong> <%= @mentor.major_category %> </h3>
              <h3 id="level"><strong> Level: </strong> <%= @mentor.degree_level %> </h3>
              <h3 id= "rate"><strong> Video Calling: </strong> $<%= @mentor.rate %> /30 mins</h3>

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Mentor profile</a></li>
                <li><a data-toggle="tab" href="#menu1">Reviews</a></li>
                <li><a data-toggle="tab" href="#menu2">University Profile</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <div id="about-me">
                    <h3 id="about-me-title"><i class="fas fa-smile"></i> About me</h3>
                    <p><%= @mentor.description %> </p>
                  </div>
                  <div id="how">
                    <h3 id="how-title"><i class="fas fa-hands-helping"> </i> How I can help</h3>
                    <p> <%= @mentor.description_two %> </p>
                  </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <div class="list-group">
                    <% @mentor.review_mentors.each do |review| %>
                    <li class="list-group-item">
                      <small>
                        <% count = 0 %>
                        <% 5.times do %>
                        <% if review.rating > count %>
                        <i class="fas fa-star" id = "icon-color"></i>
                        <% else %>
                        <i class="far fa-star" id = "icon-color"></i>
                        <% end %>
                        <% count += 1 %>
                        <% end %>
                      </small>
                      <p><%= review.content %></p>
                      <p><i> by <%= review.student %></i></p>
                    </li>
                    <% end %>
                  </div>
                </div>
                <div id="menu2" class="tab-pane fade">

                  <%# Parsing rows from UniversityData.csv file%>
                  <% CSV.foreach(@filepath, @csv_options) do |row| %>
                  <% if @mentor.university == row['Name'] %>
                  <h3><%= @mentor.university %>, <%= row['State'] %></h3>

                <div class = "student-container">
                  <h4>Student population</h4>


                  <div class = "row">
                    <div class="col-xs-12 col-sm-6 col-md-6" id= "student-gend">
                      <div class="gend-container">
                        <canvas id="myChart" width="90" height="60"></canvas>
                      </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6" id= "student-gend" style = "padding-top: 10px;">
                  <p >
                      Number of full-time students:
                      </p>

                      <h5>
                      <%= row['FullTimeTotal'] %> Students
                      </h5>
                    </div>
                  </div>
                </div>

                 <div class="eth-container">
                        <canvas id="myPie" ></canvas>
                  </div>

                  <hr>

                  <h4>Admissions</h4>
                  <div class = "row">
                    <div class="col-xs-12 col-sm-6 col-md-6" id= "student-gend">
                  <p>Total number of applicants:</p>
                  <h5> <%= row['TotalApplicants'] %> Applicants</h5>

                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6" id= "student-gend">

                    <div class="accept-container">
                      <canvas id="myStack" height = "200"></canvas>
                    </div>
                  </div>

                  <div class="Sat-container">
                    <canvas id="myHorizontal"></canvas>
                  </div>

                  <hr>


                  <h4>Costs</h4>


                  <div class="cost-container">
                    <canvas id="myStack2"></canvas>
                  </div>


                  <script>

                    let myChart = document.getElementById('myChart').getContext('2d');



                    let gendBar = new Chart(myChart, {
                      type:'bar',
                      data:{
                        labels:['Male','Female'],
                        datasets:[{
                          label:'Population',
                          data:[<%= row['FullTimeMen'] %>,<%= row['FullTimeWomen'] %>],
                          backgroundColor:['#FBCE6A','#8A86DF'],
                          borderWidth:1,
                          borderColor:'white',
                          padding: 5
                        }]
                      },
                      options:{
                        scales: {
                          yAxes: [{
                            ticks: {
                              beginAtZero:true
                            }
                          }],
                          xAxes: [{
                            barPercentage: 0.5
                          }]
                        },

                        legend:{
                          display: false
                        },

                        title:{
                          display:true,
                          text:'By Gender',
                          fontSize:18,
                          fontColor: '#f57170'
                        }

                      }
                      });

                    let myPie = document.getElementById('myPie').getContext('2d');

                    let ethPie = new Chart(myPie, {
                      type:'pie',
                      data:{
                        labels:['India','Asian','Black and African American','Hispanic','White','Unknown'],
                        datasets:[{
                          label:'Population',
                          data:[<%= row['%RaceAmericanIndian'] %>,<%= row['%RaceAsian'] %>,<%= row['%RaceBlack'] %>,<%= row['%RaceHispanic'] %>,<%= row['%RaceWhite'] %>,<%= row['%RaceUnknown'] %>],
                          backgroundColor:[
                            '00ABC2',
                            '#FCCF61',
                            '#D97171',
                            '#71C973',
                            '#8A84E2',
                            '#878787'
                          ],

                          borderWidth:2,
                          borderColor:'white'
                        }]
                      },
                      options:{
                        title:{
                          display:true,
                          text:'By Ethnic Background',
                          fontSize:18,
                          fontColor: '#f57170'
                        },

                        legend:{
                          display: true,
                          position: 'bottom',
                          labels: {
                            boxWidth: 10
                          }

                        }

                      }
                      });


                    let myStack = document.getElementById('myStack').getContext('2d');

                    let acceptStack = new Chart(myStack, {
                      type:'bar',
                      data:{
                        labels:['Rate'],
                        datasets:[
                          {
                            label: 'Acceptance',
                            data: [<%= row['AcceptanceRate'] %>],
                            backgroundColor: '#4BD94F' // green
                          },

                          {
                          label: 'Non Acceptance',
                          data: [100-<%= row['AcceptanceRate'] %>],
                          backgroundColor: '#D97171' // red
                          }
                        ]
                      },

                      options:{
                        title:{
                          display:true,
                          text:'Acceptance Rate',
                          fontSize:18,
                          fontColor: "#f57170"
                        },

                        scales: {
                            xAxes: [{ stacked: true,  barPercentage: 0.5}],
                            yAxes: [{ stacked: true }]

                          },

                        legend:{
                          display: false
                        }
                      }
                      });


                    let myStack2 = document.getElementById('myStack2').getContext('2d');

                    let costStack = new Chart(myStack2, {
                      type:'bar',
                      data:{
                        labels:['Out of State Tuition', 'Total Average Annual'],
                        datasets:[
                          {
                            label: '',
                            data: [<%= row['OutOfStateTuition'] %>,<%= row['AverageTotalCost'] %>],
                            backgroundColor: '#4BD94F' // green
                          },

                          {
                          label: 'Remaining from US100k',
                          data: [100000-<%= row['OutOfStateTuition'] %>,100000-<%= row['AverageTotalCost'] %>],
                          backgroundColor: '#D97171' // red
                          }
                        ]
                      },

                      options:{
                        title:{
                          display:true,
                          text:'Average Annual Spend (USD)',
                          fontSize:18,
                          fontColor: "#f57170"

                        },

                        scales: {
                            xAxes: [{ stacked: true, barPercentage: 0.8  }],
                            yAxes: [{ stacked: true }]
                          },

                        legend:{
                          display: false
                        }
                      }
                      });

                    let myHorizontal = document.getElementById('myHorizontal').getContext('2d');

                    let satStack = new Chart(myHorizontal, {
                      type:'horizontalBar',
                      data:{
                        labels:['Reading', 'Writing','Math'],
                        datasets:[
                          {
                            label: 'X',
                            data: [<%= row['SATCR25%'] %>,<%= row['SATWR25%'] %>,<%= row['SATM25%'] %>],
                            backgroundColor: '#D5D5D5' // grey
                          },

                          {
                          label: 'Y',
                          data: [<%= row['SATCR75%'] %>-<%= row['SATCR25%'] %>,<%= row['SATWR75%'] %>-<%= row['SATWR25%'] %>,<%= row['SATM75%'] %>-<%= row['SATM25%'] %>],
                          backgroundColor: '#4BD94F' // green
                          },

                          {
                          label: 'Z',
                          data: [800-<%= row['SATCR75%'] %>,800-<%=row['SATWR75%'] %>,800-<%= row['SATM75%'] %>],
                          backgroundColor: '#D5D5D5' // grey
                          }

                        ]
                      },

                      options:{
                        title:{
                          display:true,
                          text:'SAT Scores',
                          fontSize:18,
                          fontColor: "#f57170"

                        },

                        scales: {
                            xAxes: [{ stacked: true }],
                            yAxes: [{ stacked: true }]
                          },

                        legend:{
                          display: false
                        }
                      }
                      });









                  </script>

                  <% end %>
                  <% end %>




                </div>
              </div>



            </div>
          </div>



      </div>
    </div>

  </div>
 </div>
</div>






    <div class="lower-container">
      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>
    </div>

  </div>


  <div class="footer">
    <div class="footer-links">
      <a href="http://www.github.com"><i class="fab fa-github"></i></a>
      <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="http://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Made with <i class="fas fa-heart"></i> by Le Decisive
    </div>
  </div>

</div>

<!-- Chat modal -->
  <div id="chatModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content chat chat-window" id="<%= @mentor.id %>A<%= current_prospective.id %>">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Chat with <%= @mentor.first_name %></h4>
        </div>
       <div class="modal-body messages message-line">
         <div class="message">
           <span class="user"><strong><%= @mentor.first_name %></strong></span>
         </div>
       </div>
        <div class="modal-footer">
         <form class="chat-form" autocomplete="off">
           <input type="text" id="message" placeholder="Type your message" />
           <button type="submit" id="btn-send">Send</button>
         </form>
        </div>
      </div>
    </div>
  </div>
  </div>


<!-- Video chat modal -->
<div id="videoModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content video" style =
    "border-radius: 8px 8px 8px 8px;" id="<%= @mentor.id %>A<%= current_prospective.id %>">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Video chat with <%= @mentor.first_name %></h4>
      </div>

            <div class="modal-body">
              <div class = "video-container">
                <div class = "row">
                  <div class = "col-xs-4 col-sm-4 col-md-4">
                   <div id="controls">
                     <div id="preview">
                       <div id="local-media">
                        <img src="" alt="">
                       </div>
                       <button id="button-preview">Preview My Camera</button>
                       <div id="room-controls">
                 <!-- <p class="instructions">Room Name:</p>
                   <input id="room-name" type="text" placeholder="Enter a room name" /> -->
                   <button id="button-join">Start video!</button>
                   <button id="button-leave" data-toggle="modal" data-target="#paymentModal">Leave chat</button>
                 </div>
                 <div id="log"></div>

                 </div>
               </div>
             </div>

             <div class = "col-xs-8 col-sm-8 col-md-8">

              <div id="remote-media"></div>
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<!-- Payment modal -->
<div id="paymentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Payment modal -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Payment confirmation</h4>
      </div>
      <div class="modal-body">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
          <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
          <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
        </svg>
        <p class="success"> Payment successful </p>
        <div class = "payment-container">
          <div class = "row">
            <div class = "col-xs-12 col-sm-6 col-md-6" id = "left-payment">
              <p><%= DateTime.now.strftime("%a, %e %b %Y %H:%M:%S (GMT%z)") %></p>
              <h3 id="time">Time</h3>
              <h3 id="cost">Cost</h3>
            </div>
            <div class = "col-xs-12 col-sm-6 col-md-6" id = "right-payment">
              <h4 >Recipient: <%= @mentor.first_name %> <%= @mentor.last_name %></h4>
              <p ><%= @mentor.email %></p>
           <%= link_to "Leave a review", review_mentors_path(@mentor) , class: "btn-treehouse-three"%>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>


<!-- Chat JS -->
<script type="text/javascript">
  document.getElementById('startChat').addEventListener("click", () => {
    if (document.querySelector(".chat")) {
        window.chat = new Chat();
      }
  });
</script>

<!-- Video JS -->
<script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
<script src="//media.twiliocdn.com/sdk/js/video/releases/1.14.0/twilio-video.js"></script>

<%= javascript_pack_tag 'jquery' %>
<%= javascript_pack_tag 'video' %>
