  <%= render 'shared/navbar_two' %>

<div class="profile-card">

  <div class="upper-container">
    <div class="row">
      <div class="col-xs-12">

          <h1 id="profile-name"><%= @mentor.first_name.upcase %> <%= @mentor.last_name.upcase %></h1>

      </div>
    </div>
  </div>

   <div class="mid-container">
      <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="profile-left">

            <% if @mentor.photo.present? == true %>
              <%= cl_image_tag @mentor.photo, height: 300, width: 300, crop: :fill %>
              <% else %>
              <%= cl_image_tag("non_existing_id.jpg",
              :width => 300, :height => 300,
              :crop => :fill) %>
            <% end %>

            <p id="button-chat"> <a href="http://www.bing.com" class="btn-treehouse">Chat with <%= @mentor.first_name %> </a> </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="profile-right">
            <h2 id="uni"><strong> <%= @mentor.university %> </strong></h2>

            <h2 id="major"> Major: <%= @mentor.major %> </h2>
            <h3 id="major-cat"> Category: <%= @mentor.major_category %> </h3>
            <h3 id="level"> Level: <%= @mentor.degree_level %> </h3>
            <h3 id="nat"> Nationality: <%= @mentor.nationality %> </h3>

            <div id="about-me">
              <h3 id="about-me-title"><i class="fas fa-smile"></i> About me</h3>
              <p><%= @mentor.description %> </p>
            </div>

            <div id="how">

              <h3 id="how-title"><i class="fas fa-hands-helping"> </i> How I can help</h3>
              <p> <%= @mentor.description_two %> </p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="lower-container">
    <div class="row">
      <div class="col-xs-12">
         <h3 id="edit-mentor"> <%= link_to "Edit Profile", edit_mentor_path(@mentor) %> </h3>
      </div>
    </div>
  </div>

</div>
