<%= render 'shared/navbar_two' %>

<div class="profile-card">

  <div class="upper-container">
    <div class="row">
      <div class="col-xs-12">

          <h1 id="profile-name"><%= @mentor.first_name.upcase %> <%= @mentor.last_name.upcase %></h1>

      </div>
    </div>
  </div>

   <div class="mid-container">
      <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="profile-left">

                <%= cl_image_tag "black-and-white-boy-casual-555790.jpg",height: 310, width: 300, class: "imgb" %>

            <button type="button" class="button-chat btn-treehouse" id="startChat" data-toggle="modal" data-target="#myModal"> Chat with <%= @mentor.first_name %> </button>
          </div>
        </div>

        <div class="col-xs-12 col-sm-8 col-md-8">
          <div class="profile-right">
            <h2 id="major-cat"> <%= @mentor.major %> / <%= @mentor.university %> </h2>
            <h3 id="major-deg"> <%= @mentor.major_category %> / <%= @mentor.degree_level %> </h3>
            <h3 id="nat"> <%= @mentor.nationality %> </h3>

            <div id="about-me">
              <h3 id="about-me-title">About me</h3>
              <p><%= @mentor.description %> </p>
            </div>

            <div id="how">
              <h3 id="how-title">How I can help</h3>
              <p> <%= @mentor.description_two %> </p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="lower-container">
    <div class="row">
      <div class="col-xs-12">
         <h3 id="edit-mentor"> <%= link_to "Edit Profile", edit_mentor_path(@mentor) %> </h3>
      </div>
    </div>
  </div>

</div>



<!-- Chat modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content chat chat-window">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Chat with <%= @mentor.first_name %></h4>
      </div>
     <div class="modal-body messages message-line">
       <div class="message">
         <span class="user"><strong><%= @mentor.first_name %>:</strong></span> Hey! How can I help?
       </div>
     </div>
      <div class="modal-footer">
       <form>
         <label for="message">Message:</label>
         <input type="text" id="message" placeholder="Type your message" />
         <button type="submit">Send</button>
       </form>
      </div>
    </div>
  </div>
</div>

<!-- OLD CHAT CODE -->
<!-- <div class="chat chat-window">
  <div class="chat-window-title"></div>
  <div class="messages message-line">
    <div class="message">
      <span class="user">User:</span> Let's chat!
    </div>
  </div>
  <form>
    <label for="message">Message:</label>
    <input type="text" id="message" placeholder="Type your message" />
    <button type="submit">Send</button>
  </form>
</div> -->

