<%= render 'shared/navbar_two' %>

<div class="banner-three" style= "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path 'figure_1.png' %>');" id= "one">

<div class="containter">

  <div class="profile-card">


     <div class="mid-container">
        <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="profile-left">

              <% if @mentor.photo.present? == true %>
                <%= cl_image_tag @mentor.photo, height: 280, width: 280, crop: :fill %>
                <% else %>
                <%= cl_image_tag("non_existing_id.jpg",
                :width => 280, :height => 280,
                :crop => :fill) %>
              <% end %>

              <button type="button" class="button-chat btn-treehouse" id="startChat" data-toggle="modal" data-target="#myModal"> Chat with <%= @mentor.first_name %> </button>

              <h3 id="go-back"> <%= link_to "Back to mentors", mentors_path %> </h3>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="profile-right">
              <span id = "name-title">  <%= @mentor.first_name.upcase %>  <%= @mentor.last_name.upcase %> <p>(<%= @mentor.nationality %>)</p></span>

              <h4 id="uni"><strong> <%= @mentor.university %> </strong></h4>
              <h6 style="color: #F57170;">
              <% count = 0 %>
              <% 5.times do %>
                <% if @mentor.average_review > count %>
                  <% if (@mentor.average_review - count) <= 0.9 %>
                    <ion-icon size="large" name="star-half "></ion-icon>
                  <% else %>
                    <ion-icon size="large" name="star"></ion-icon>
                  <% end %>
                <% else %>
                  <ion-icon size="large" name="star-outline"></ion-icon>
                <% end %>
                <% count += 1 %>
              <% end %>
              <%= @mentor.average_review %>
              (<%= @mentor.review_mentors.count %> reviews)
            </h6>

              <h3 id="major"> <strong>Major: </strong><%= @mentor.major %></h3>
              <h3 id="major-cat"> <strong> Category:</strong> <%= @mentor.major_category %> </h3>
              <h3 id="level"><strong> Level: </strong> <%= @mentor.degree_level %> </h3>
              <h3><strong> Video Calling: </strong> $<%= @mentor.rate %> /30 mins</h3>

              <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Mentor profile</a></li>
                <li><a data-toggle="tab" href="#menu1">Reviews</a></li>
                <li><a data-toggle="tab" href="#menu2">University Profile</a></li>
              </ul>

              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <div id="about-me">
                    <h3 id="about-me-title"><i class="fas fa-smile"></i> About me</h3>
                    <p><%= @mentor.description %> </p>
                  </div>
                  <div id="how">
                    <h3 id="how-title"><i class="fas fa-hands-helping"> </i> How I can help</h3>
                    <p> <%= @mentor.description_two %> </p>
                  </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                  <div class="list-group">
                    <% @mentor.review_mentors.each do |review| %>
                    <li class="list-group-item">
                      <small>
                        <% count = 0 %>
                        <% 5.times do %>
                        <% if review.rating > count %>
                        <i class="fas fa-star"></i>
                        <% else %>
                        <i class="far fa-star"></i>
                        <% end %>
                        <% count += 1 %>
                        <% end %>
                      </small>
                      <p><%= review.content %></p>
                      <p><i> by <%= review.student %></i></p>
                    </li>
                    <% end %>
                  </div>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <h3>Menu 2</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
              </div>



            </div>
          </div>
        </div>
    </div>



    <div class="lower-container">
      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>
    </div>

  </div>


  <div class="footer">
    <div class="footer-links">
      <a href="http://www.github.com"><i class="fab fa-github"></i></a>
      <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
      <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
      <a href="http://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Made with <i class="fas fa-heart"></i> by Le Decisive
    </div>
  </div>

</div>

<!-- Chat modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content chat chat-window" id="<%= @mentor.id %>A<%= current_prospective.id %>">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Chat with <%= @mentor.first_name %></h4>
        </div>
       <div class="modal-body messages message-line">
         <div class="message">
           <span class="user"><strong><%= @mentor.first_name %>:</strong></span> Hey! How can I help?
         </div>
       </div>
        <div class="modal-footer">
         <form class="chat-form" autocomplete="off">
           <input type="text" id="message" placeholder="Type your message" />
           <button type="submit" id="btn-send">Send</button>
         </form>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>
  <script type="text/javascript">
    document.getElementById('startChat').addEventListener("click", () => {
      // document.getElementById('modalWindow').removeClass('hide');
      if (document.querySelector(".chat")) {
          window.chat = new Chat();
        }
    });
  </script>


<%= link_to "Leave a review for this mentor", review_mentors_path(@mentor) %>



<%=  %>


