<div class="navbar-wagas">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagas-brand" do %>
  <%= cl_image_tag("UCHOOSE_white_coral.png") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagas-right hidden-xs hidden-sm">

  <div class="dropdown">
    <a class="dropdown-toggle navbar-wagas-item navbar-wagas-link" id="navbarDropdown" role="button" data-toggle="dropdown">Sign Up</a>
    <ul class="dropdown-menu">
      <li class= "navbar-wagas-item navbar-wagas-link"><%= link_to'As a Prospective Student', new_prospective_registration_path %></li>
      <li class= "navbar-wagas-item navbar-wagas-link"><%= link_to'As a Mentor', new_mentor_registration_path %></li>
    </ul>
  </div>

   <div class="dropdown">
    <a class="dropdown-toggle navbar-wagas-item navbar-wagas-link" id="navbarDropdown" role="button" data-toggle="dropdown">Log in</a>
    <ul class="dropdown-menu">
      <li class= "navbar-wagas-item navbar-wagas-link"><%= link_to'As a Prospective Student', new_prospective_session_path %></li>
      <li class= "navbar-wagas-item navbar-wagas-link"><%= link_to'As a Mentor', new_prospective_session_path %></li>
    </ul>
  </div>


  <a href="" class="navbar-wagas-item navbar-wagas-link">Help</a>

    <!-- Profile picture with dropdown list -->

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagas-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagas-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messages</a></li>
      </ul>
    </div>
  </div>
</div>
