<div class="navbar-wagon">
  <!-- Logo -->
    <%= link_to mentors_path, class: "navbar-wagon-brand" do %>
  <%= cl_image_tag("UCHOOSE_white.png") %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Bookings</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <% if prospective_signed_in? %>
       <%= image_tag "#{current_prospective.photo}", class: "avatar dropdown-toggle", id: "navbar-wagas-menu", "data-toggle" => "dropdown" %>
        <% elsif mentor_signed_in? %>
       <%= image_tag "#{current_mentor.photo}", class: "avatar dropdown-toggle", id: "navbar-wagas-menu", "data-toggle" => "dropdown" %>
       <% else %>
        <% end %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#"><%= link_to('Logout', destroy_mentor_session_path, method: :delete) %></a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Messages</a></li>
        <li><a><%= link_to "Search", mentors_path %> </a></li>
      </ul>
    </div>
  </div>
</div>
