<div class="navbar-fixed-top">
  <%= render 'shared/navbar' %>

</div>

<div class="home-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path 'brooke-cagle-609873-unsplash.jpg' %>');" id= "one">
  <div class= "stuff">
    <h1>Make an informed choice<br>about your future U.S. university.</h1>
    <p><span id="banner-typed-text"></span></p>
    <%= link_to "Find mentors", mentors_path, id:"button-home" %>
  </div>
</div>

<div class = "wrapper" id= "two">
  <div class = "banner-one" style= "background-image: url('<%= cl_image_path 'flow_2.png' %>');" >
  <div class="container" id= "home-container">
    <div class="wolf">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="card-home">
            <div class="card-description">
              <i class="fas fa-university fa-5x"></i>
              <h2> Search by college or major</h2>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 flex-item">
          <div class="card-home" >
            <div class="card-description">
              <i class="fas fa-user-circle fa-5x"></i>
              <h2>Check mentor profiles</h2>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 flex-item">
          <div class="card-home" >
            <div class="card-description">
              <i class="fas fa-comments fa-5x"></i>
              <h2>Connect by text or video chat</h2>
            </div>
          </div>
        </div>
      </div>
</div>
    </div>
  </div>
</div>

<div class = "wrapper-one" style= "background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path 'adult-business-meeting-business-people-1438072.jpg' %>');" id= "three">
  <div class="container" id= "home-container">
    <div class = "alone">
      <h1>Why choose us?</h1>
      <div class="row">
        <div class=" col-sm-6">
          <div class="card-home-one">
            <div class="card-description-one">
              <i class="fas fa-user-friends fa-5x"></i>
              <h2>One-on-one chat with mentors.</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-home-one" >
            <div class="card-description-one">
              <i class="fas fa-yen-sign fa-5x"></i>
              <h2>99% cheaper than consulting agencies.</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-home-one" >
            <div class="card-description-one">
              <i class="fas fa-expand-arrows-alt fa-5x"></i>
              <h2>Select mentors from top universities across the U.S.</h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-home-one" >
            <div class="card-description-one">
              <i class="fas fa-info-circle fa-5x"></i>
              <h2>Ask all your questions here!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "wrapper-two" id= "four">

      <div class="row">
        <div class="col-sm-6 ">
               <div class = "banner-two" style= "background-image: url('<%= cl_image_path 'macbook_uchoose.png' %>');">
              </div>

        </div>
        <div class="col-sm-6 ">
          <div class="card-home-two">
            <div class="card-description-two">

              <h1>Our approach</h1>
              <h3> Don’t make big decisions alone</h3>
              <h3>Widen your perspective</h3>
              <h3>Talk to people who’ve been in your situation</h3>

            </div>
          </div>
        </div>


    </div>

  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="http://www.github.com"><i class="fab fa-github"></i></a>
    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="http://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by Le Decisive
  </div>
</div>
