

<div class="home-banner" style= "background-image: url('<%= cl_image_path 'brooke-cagle-609873-unsplash.jpg' %>');">

<div class="navbar-fixed-top">
  <%= render 'shared/navbar' %>
  </div>
    <button id="button-home"></button>

<a href="/mentors" id= "button-home"></a>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>



<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to('Logout', destroy_mentor_session_path, method: :delete) %>
<%= link_to'Sign up as a Mentor', new_mentor_registration_path %>

