<!DOCTYPE html>
<html>
  <head>
<link rel="icon" type="image/png" href="../../../favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="../../../favicon-16x16.png" sizes="16x16" />
<link rel="icon" href="../assets/images/favicon.png" type="image/png" />
<link rel="icon" type="image/x-icon" href="../../../favicon.ico" />


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UCHOOSE</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js' %>
    <%= javascript_include_tag 'https://media.twiliocdn.com/sdk/js/chat/v3.0/twilio-chat.min.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/ionicons@4.4.8/dist/ionicons.js"></script>
  </body>
</html>
